@page
@model ByteBound.Pages.User.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].VerificationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CardCVV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CardExpiry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.Raw(Microsoft.Security.Application.Encoder.HtmlEncode(item.Username))

            </td>
            <td>
                @Html.Raw(item.Password)
            </td>
            <td>
                @Html.Raw(item.Email)
            </td>
            <td>
                @Html.Raw(item.VerificationStatus)
            </td>
            <td>
                @Html.Raw(item.Score)
            </td>
            <td>
                @Html.Raw(item.CardNumber)
            </td>
            <td>
                @Html.Raw(item.CardCVV)
            </td>
            <td>
                @Html.Raw(item.CardExpiry)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
